In [2]:
import pandas as pd
df = pd.read_csv("SRIP_Results_2025.csv")
print(df.head())

  Intern ID             Full Name  Project Code
0      SRIP        2025: SELECTED       INTERNS
1    Intern  ID Full Name Project          Code
2  21898373    A S Aravinthakshan  IP0VM0000003
3  21928832  Aariya Dhanaseelan C  IP0CA0000006
4  21873538      Aarthi Venkatesh  IP0LL0000015

In [9]:
df_grouped = df.groupby(["Full Name"])["Project Code"].count().reset_index()

# Get the intern with the maximum projects
top_intern = df_grouped.loc[df_grouped["Project Code"].idxmax()]

In [11]:
df[df['Full Name']=="Kshitij Suresh Giri"]

   Intern ID            Full Name   Project Code
84  21951426  Kshitij Suresh Giri  IP0ALC0000013
85  21951826  Kshitij Suresh Giri   IP0HS0200001
86  21952115  Kshitij Suresh Giri       IP000002

In [ ]:
df = pd.DataFrame(df, columns=["Full Name", "Project Code"])

# Group by Full Name and count projects
df_grouped = df.groupby("Full Name").count().reset_index()
print
# Rename columns for clarity
df_grouped.columns = ["Full Name", "Total Projects"]

# Sort by project count in descending order
df_sorted = df_grouped.sort_values(by="Total Projects", ascending=False)

In [16]:
df

                Full Name             Project Code
0          2025: SELECTED                  INTERNS
1    ID Full Name Project                     Code
2      A S Aravinthakshan             IP0VM0000003
3    Aariya Dhanaseelan C             IP0CA0000006
4        Aarthi Venkatesh             IP0LL0000015
..                    ...                      ...
206      Yashvardhan Soni             IP0MK0000012
207             Yug Desai            IP0HPM0000007
208     Yuvraj Motiramani             IP0RH0000009
209                                           
210                   Us:  internships@iitgn.ac.in

[211 rows x 2 columns]

In [19]:
df_sorted[df_sorted["Total Projects"] == 2]

                      Full Name  Total Projects
65                 Goral Mashru               2
193              Yash Choudhary               2
180                 Tanishi Das               2
169        Soham Ashish Gaonkar               2
158  Shihora Vansh Bhaveshkumar               2
116       Pendse Chinmay Sameer               2
90             Madhavi Nibauria               2
32                 Anurag Singh               2